name: Test Palisade Action

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Palisade Action (local)
        uses: ./
        with:
           args: "track-provenance ."
